.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-right: 100px;
  padding-left: 100px;
}

.header {
    width: 100%;
    top:0px;
    background:#fff;
    height: 40px;
    z-index: 9999;
    text-align: center;
    color: gray;
    font-style: none;
  }

.header ul {
    margin: auto;
    display: inline-block;
    padding: 0px;
  }

.header li {
    float: left;
    padding: 10px 20px 10px 0px;
    list-style-type: none;
    height:40px;
}

  .header li h3 {
    border-left: 1px solid #cecece;
    padding-left: 20px;
    }

  .header li:first-child h3{
    border-left:0px;
  }

.ricardo {
  font-family: 'Bodoni';
  font-size: 100px;
  width: auto;
  font-weight: 300;
  text-align: center;
  margin-top: 55px;
  color: #2873c8;
  border-bottom: 5px double;
  border-color: black;
}

.padding1 {
  padding-bottom: 22px;
}

.image {
  display: center;
  width: 62%;
  margin: 20px auto;
  border: 4px solid;
  border-color: black;
}

img {
    width: 100%;
    margin: auto;
    display: block;
}

.padding2 {
  padding-bottom: 16px;
}

p {
  font-size: 18pt;
  display: block;
}

a {
  color: #2873c8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text-wrapper {
  display: inline-block;
}

.padding3 {
  padding-bottom: 24px;
  padding-top: 24px;
  border-bottom: 4px double;
  border-color: #969391;
}

.intro {
  padding-right: 45px;
  padding-left: 45px;
}

.clips-header {
  font-style: bold;
  text-decoration: underline;
  padding-top: 60px;
  font-size: 24pt;
  text-align: center;
  color: #969391;
  padding-bottom: 14px;
}

.clips-text {
  font-size: 18pt;
}


.design-header {
  font-style: bold;
  text-decoration: underline;
  padding-top: 60px;
  font-size: 24pt;
  text-align: center;
  color: #969391;
}

.design-subhed {
  font-style: italic;
  font-size: 12pt;
  text-align: center;
}

.resume-header {
  font-style: bold;
  text-decoration: underline;
  padding-top: 24px;
  font-size: 24pt;
  text-align: center;
  color: #969391;
}

.reporting-clips {
  padding-right: 45px;
  padding-left: 45px;
}


.rtext {
  padding-right: 45px;
  padding-left: 45px;
}

.smallimage {
  width: auto;
  height: auto;
  max-height: 175px;
  max-width: 175px;
  display: inline-block;
  float: left;
  cursor: pointer;
  border: 1pt solid black;
  margin: 7px;
}
